/*---------------------------------------------------------------------------------------*/
/*Шрифты*/
/*---------------------------------------------------------------------------------------*/


/*I группа - Open Sans ------------------------------------------------------------------*/
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'), url('https://64424.selcdn.ru/webfonts/opensans/300.woff2') format('woff2'), url('https://64424.selcdn.ru/webfonts/opensans/300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('https://64424.selcdn.ru/webfonts/opensans/300i.woff2') format('woff2'), url('https://64424.selcdn.ru/webfonts/opensans/300i.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('https://64424.selcdn.ru/webfonts/opensans/400.woff2') format('woff2'), url('https://64424.selcdn.ru/webfonts/opensans/400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('https://64424.selcdn.ru/webfonts/opensans/400i.woff2') format('woff2'), url('https://64424.selcdn.ru/webfonts/opensans/400i.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('https://64424.selcdn.ru/webfonts/opensans/600.woff2') format('woff2'), url('https://64424.selcdn.ru/webfonts/opensans/600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('https://64424.selcdn.ru/webfonts/opensans/600i.woff2') format('woff2'), url('https://64424.selcdn.ru/webfonts/opensans/600i.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('https://64424.selcdn.ru/webfonts/opensans/700.woff2') format('woff2'), url('https://64424.selcdn.ru/webfonts/opensans/700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('https://64424.selcdn.ru/webfonts/opensans/700i.woff2') format('woff2'), url('https://64424.selcdn.ru/webfonts/opensans/700i.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('https://64424.selcdn.ru/webfonts/opensans/800.woff2') format('woff2'), url('https://64424.selcdn.ru/webfonts/opensans/800.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('https://64424.selcdn.ru/webfonts/opensans/800i.woff2') format('woff2'), url('https://64424.selcdn.ru/webfonts/opensans/800i.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}


/*II группа - Gilroy ------------------------------------------------------------------*/
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'), url('https://64424.selcdn.ru/webfonts/gilroy/300.woff2') format('woff2'), url('https://64424.selcdn.ru/webfonts/gilroy/300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('https://64424.selcdn.ru/webfonts/gilroy/800.woff2') format('woff2'), url('https://64424.selcdn.ru/webfonts/gilroy/800.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


/*---------------------------------------------------------------------------------------*/
/*ОБЩИЕ ПАРАМЕТРЫ*/
/*---------------------------------------------------------------------------------------*/

/*I группа - Параметры "body" и заголовков -----------------------------------------------*/
body {
	margin: 0;

	padding: 0;
  min-width: 1160px;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	color: #464646;
}

h1, h2 {
	margin: 0;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	font-weight: 800;
	line-height: 1.2em;
	letter-spacing: 0.001em;
	color: #000000;
}

h3 {
	margin: 0;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.2em;
	letter-spacing: 0.001em;
	color: #000000;
}

/*II группа - Параметры ссылок и кнопок -------------------------------------------------*/
a {
	text-decoration: none;
	color: #000000;
	}

button {
  background: none;

	outline: none;
	border: none;

	cursor: pointer;
	}



/*---------------------------------------------------------------------------------------*/
/*ДОПОЛНИТЕЛЬНЫЕ ФУНКЦИОНАЛЬНЫЕ КЛАССЫ*/
/*---------------------------------------------------------------------------------------*/

/*I  группа - контейнеры для выравнивания------------------------------------------------*/
.container-main {
  margin-right: auto;
	margin-left: auto;

	width: 1160px;
}

.container-header {
	margin-right: auto;
	margin-left: auto;

	width: 1040px;
}


/*II группа - Псевдораспорка-------------------------------------------------------------*/
.clearfix:after {
	content: "";

	display: table;

	clear: both;
}


/*III группа - Внутренняя кнопка изображения---------------------------------------------*/
.button-action {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -100px;

	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 200px;
	height: 22px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;

  cursor: pointer;
	opacity: 0;
	z-index: 2;
}

.button-action::before {
	content: "";
	position: absolute;
	left: 0;
	margin-top: 6px;

	width: 200px;
	height: 8px;

	background-color: #f0c52e;

	z-index: -1;
}

.button-action:hover {
	background-color: #f0c52e;
}

.button-action:active {
	color: #bd9b24;
}

/*IV группа - Вторая внутрення кнопка изображения ---------------------------------------*/
.button-action2 {
	position: absolute;
	top: 63%;
	left: 50%;
	margin-top: -11px;
	margin-left: -100px;

	width: 200px;
	height: 22px;

	font-size: 13px;
	line-height: 1em;
	color: #a1a1a1;
	text-align: center;

  cursor: pointer;
  opacity: 0;
	z-index: 1;
}

.button-action2:hover {
	color: #000000;
}

.button-action2:active {
	color: #dcdcdc;
}


/*V группа - Отключение видимости контента ----------------------------------------------*/
.visually-hidden {
  display: none;
}




/*---------------------------------------------------------------------------------------*/
/*ХЕДЕР*/
/*---------------------------------------------------------------------------------------*/

/*Параметры Хедера ----------------------------------------------------------------*/
.page-header {
	position: relative;
	margin-top: 40px;

	min-height: 186px;

	font-size: 0;

	background-color: #f7e296;
}


/*Группа I - Логотип --------------------------------------------------------------------*/
.page-header h1 {
	position: absolute;
	top: -29px;
	margin-left: -3px;
}

.header-logo {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 48px;
	font-weight: 800;
	line-height: 1em;
	letter-spacing: 0.001em;
	text-transform: uppercase;
}

.header-logo:hover {
	color: #464646;
}

.header-logo:active {
	color: #666666;
}

.header-search-actions {
	padding-top: 52px;
	padding-bottom: 33px;
}


/*Группа II - Форма поиска --------------------------------------------------------------*/
.form-search {
	margin-top: -16px;

	float: left;
	width: 436px;
}

.search {
	padding-top: 2px;
	padding-bottom: 6px;
	padding-left: 39px;
	width: 315px;

	font-size: 15px;
	letter-spacing: 0.001em;

	background-color: transparent;

	border: none;
}

.icon-search {
	background-image: url("../img/header-search.png");
 	background-repeat: no-repeat;
 	background-position: 3px 3px;
}


.search::-webkit-input-placeholder {
	color: #cab97b;
}

.search::-moz-placeholder {
	color: #cab97b;
}

.search:hover::-webkit-input-placeholder {
	color: #988b5c;
}

.search:hover::-moz-placeholder {
	color: #988b5c;
}

.search:focus::-webkit-input-placeholder {
	color: #000000;
}

.search:focus::-moz-placeholder {
	color: #000000;
}

.search:focus {
	outline: none;
	border-bottom: 2px solid #000000;
}

.search:focus ~ .button-search {
	opacity: 1;
}

.button-search {
	position: relative;
	bottom: 5px;

	width: 81px;
	height: 45px;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.001em;

	background-color: inherit;

	outline: none;
	border: 2px solid #000000;

	opacity: 0;
}

.button-search:hover {
	color: #ffffff;

	background-color: #000000;
}

.button-search:active {
	opacity: 1;

	color: #747474;

	background-color: #000000;
}


/*Группа III - Действия пользователя ----------------------------------------------------*/
.header-actions {
	float: right;
	width: 604px;

	font-size: 0px;
	text-align: right;
}

.header-action {
	position: relative;

	display: inline-block;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 1em;
	letter-spacing: 0.001em;
	vertical-align: top;
}

.header-action:first-child {
	margin-right: 239px;
}

.header-action:first-child::before {
	content: "";
	position: absolute;
	top: 0;
	left: -26px;

	width: 13px;
	height: 12px;

	background-color: transparent;
	background-image: url("../img/header-user.png");
	background-repeat: no-repeat;
}

.header-action:nth-child(2) {
	margin-right: 65px;
}

.header-action:nth-child(2)::before {
	content: "";
	position: absolute;
	top: 2px;
	left: -20px;

	width: 13px;
	height: 12px;

	background-color: transparent;
	background-image: url("../img/header-compare.png");
	background-repeat: no-repeat;
}

.header-action:last-child {
	margin-right: 0;
}

.header-action:last-child::before {
	content: "";
	position: absolute;
	top: 0;
	left: -22px;

	width: 13px;
	height: 12px;

	background-color: transparent;
	background-image: url("../img/header-cart.png");
	background-repeat: no-repeat;
}

.header-action:hover,
.header-action:hover::before {
	opacity: 0.6;
}

.header-action:active,
.header-action:active::before {
	opacity: 0.3;
}


/*Группа IV - Навигация -----------------------------------------------------------------*/
.primary-menu {
	margin: 0;

	padding: 0;

	list-style: none;
}

/*Подгруппа IV.I - Основная навигация----------*/

.primary-item {
	position: relative;

  display: inline-block;
}

.primary-item:first-child {
	margin-right: 322px;
	margin-left: -1px;
}

.primary-item:first-child:hover .secondary-menu {
	visibility: visible;
	opacity: 1;
	z-index: 2;
}

.primary-link {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.catalog-link {
	position: relative;
}

.catalog-link::after {
	content: "";
	position: absolute;
	right: -21px;
	bottom: 3px;

	width: 2px;
	height: 16px;

	background-color: #b8a974;
}

.catalog-link::before {
	content: "";
	position: absolute;
	right: -28px;
	bottom: 10px;

	width: 16px;
	height: 2px;

	background-color: #b8a974;
}

.primary-item:nth-child(2) {
	margin-right: 34px;
}

.primary-item:nth-child(3) {
	margin-right: 109px;
}

.primary-item:last-child {
	width: 100px;
}

.primary-link:hover,
.primary-item:first-child:hover::after,
.primary-item:first-child:hover::before {
	opacity: 0.6;
}

.primary-link:active,
.primary-item:first-child:active::after,
.primary-item:first-child:active::before {
	opacity: 0.3;
}

/*Подгруппа IV.II - Дополнительная навигация----------*/
.secondary-menu {
	position: absolute;
	left: -59px;

	padding-top: 12px;
	padding-left: 61px;
	width: 1099px;
	height: 140px;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.001em;
	list-style: none;

	background-color: #f7e296;

	visibility: hidden;
	opacity: 0;
}

.secondary-block:first-child {
	margin-right: 51px;

	display: inline-block;

	vertical-align: top;
}

.secondary-block:first-child ul {
	margin: 0;

	padding: 0;

	list-style: none;
}

.secondary-block:nth-child(2) {
	margin-right: 62px;

	display: inline-block;

	vertical-align: top;
}

.secondary-block:nth-child(2) ul {
	margin: 0;

	padding: 0;

	list-style: none;
}

.secondary-block:last-child {
	display: inline-block;

	vertical-align: top;
}

.secondary-block:last-child ul {
	margin: 0;

	padding: 0;

	list-style: none;
}

.secondary-menu-link:hover {
	opacity: 0.6;
}

.secondary-menu-link:active {
	opacity: 0.3;
}

/*---------------------------------------------------------------------------------------*/
/*ОСНОВОЕ СОДЕРЖАНИЕ ГЛАВНОЙ СТРАНИЦЫ*/
/*---------------------------------------------------------------------------------------*/

/*Группа I - Слайдер --------------------------------------------------------------------*/
.page-main {
	margin-bottom: 81px;
}

.slider {
	position: relative;

	width: 1100px;
	min-height: 550px;
}

.slider::before {
	content: "";
	position: absolute;
	left: -30px;

	width: 1160px;
	min-height: 112px;

	background-color: #f7e296;

  z-index: -1;
}

.slider::after {
	content: "";
	position: absolute;
	top: 38px;
	right: 430px;

	width: 100px;
	height: 7px;

	background-color: #ffffff;
}

/*Подгруппа I.I - Кнопкпи управления слайдером ----------------*/
.slider-radio {
	display: none;
}

.slider-controls {
	position: relative;
	top: -37px;
	left: 403px;

  width: 80px;

	z-index: 2;
}

.slider-label {
	margin-right: 20px;

	display: inline-block;
	width: 4px;
	height: 4px;


	border: 3px solid #b2b2b2;
	border-radius: 50%;
	cursor: pointer;

	-webkit-transition: border-color 0.2s;

	transition: border-color 0.2s;
}

.slider-label:last-child {
	margin-right: 0;
}

.slider-label:hover{
	border-color: #999999;
}

#btn-1:checked ~ .slide1 label[for="btn-1"],
#btn-2:checked ~ .slide2 label[for="btn-2"],
#btn-3:checked ~ .slide3 label[for="btn-3"] {
    border-color: #000000;
}

#btn-1:checked ~ .slide1 {
    display: block;
		z-index: block;
}

#btn-2:checked ~ .slide2  {
    display: block;
		z-index: 1;
}

#btn-3:checked ~ .slide3 {
  	display: block;
		z-index: 1;
}

/*Подгруппа I.II - Наполнение слайдера -----------------------*/
.slide1,
.slide2,
.slide3 {
	display: none;
}

/*Подгруппа I.II.I - Текстовая информация слайдов*/
.slide-info {
	position: relative;
	margin-top: 81px;
  margin-right: 40px;
	margin-left: 1px;

	float: right;
	width: 493px;
}

.slide-paragraph {
	margin-top: 19px;
	margin-left: 2px;

	letter-spacing: 0.001em;
}

.slide-more {
	position: relative;
	margin-top: 44px;
	margin-left: 3px;

	display: block;
	padding-top: 9px;
	padding-bottom: 9px;
	width: 220px;
	height: 22px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;

	-webkit-transition: background-color 0.2s,
							color 0.2s;

	transition: background-color 0.2s,
							color 0.2s;
}

.slide-more::after {
	content: "";
	position: absolute;
	top: 15px;
	right: 0px;

	width: 220px;
	height: 8px;

	background-color: #f0c52e;

	z-index: -1;
}

.slide-more:hover {
	background-color: #f0c52e;
}

.slide-more:active {
	color: #bd9b24;

	background-color: #f0c52e;
}

.slide-table {
	margin-top: 22px;
	margin-left: 2px;

	display: table;
}

.slide-table-row1 {
	display: table-row;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 36px;
	line-height: 1.2em;
	letter-spacing: 0.001em;
	color: #000000;
}

.slide-table-row2 {
	display: table-row;

	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.001em;
}

.slide-table-cell {
	display: table-cell;
	padding-bottom: 9px;

	vertical-align: middle;
}

.slide1 .slide-table-cell:first-child {
	padding-right: 79px;
}

.slide1 .slide-table-cell:nth-child(2) {
	padding-right: 78px;
}

.slide3 .slide-table-cell:first-child {
	padding-right: 45px;
}

/*Подгруппа I.II.II - Изображения слайдов*/
.slide-img {
	margin-right: 40px;

	float: right;
	width: 526px;

	text-align: center;
}

.slide1 .slide-img {
	margin-top: 2px;
}

.slide-img1 {
	margin-left: -21px;
}

.slide2 .slide-img {
	margin-top: 14px;
}

.slide-img2 {
	margin-left: -9px;
}

.slide3 .slide-img {
	margin-top: 67px;
}

.slide-img3 {
	margin-left: 1px;
}

/*Подгруппа I.II.III - Номера слайдов*/
.slide-info::before,
.slide-info::before,
.slide-info::before {
	position: absolute;
	top: -93px;
	right: -22px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 179.2px;
	font-weight: 900;
	line-height: 1em;
	letter-spacing: 0.001em;
	text-transform: uppercase;
	color: #ffffff;

	z-index: -1;
}

.slide1 .slide-info::before {
	content: "01";
}

.slide2 .slide-info::before {
	content: "02";
}

.slide3 .slide-info::before {
	content: "03";
}


/*Группа II - Дополнительная навигация по каталогу --------------------------------------*/
.catalog-sections {
	margin-top: 44px;
  margin-bottom: 165px;

	font-size: 0;
}

.catalog-section {
	margin-right: 40px;

  display: inline-block;
	width: 160px;

  font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.2em;
	letter-spacing: 0.001em;
  vertical-align: top;
}

.catalog-section:nth-child(6n+1){
	margin-right: 0;
}

.section-name {
	padding-top: 35px;

	display: block;
}

.section-background {
	width: 160px;
	height: 160px;

	background-color: #f7e296;
}

.section-img {
	width: 160px;
	height: 160px;
}

.section-img-1 {
	background-image: url("../img/popular-1.png");
	background-repeat: no-repeat;
	background-position: 31px 52px;
}

.section-img-2 {
	background-image: url("../img/popular-2.png");
	background-repeat: no-repeat;
	background-position: 38px 43px;
}

.section-img-3 {
	background-image: url("../img/popular-3.png");
	background-repeat: no-repeat;
	background-position: 49px 38px;
}

.section-img-4 {
	background-image: url("../img/popular-4.png");
	background-repeat: no-repeat;
	background-position: 28px 50px;
}

.section-img-5 {
	background-image: url("../img/popular-5.png");
	background-repeat: no-repeat;
	background-position: 55px 32px;
}

.section-img-6 {
	background-image: url("../img/popular-6.png");
	background-repeat: no-repeat;
	background-position:  13px 49px;
}

.catalog-section:active .section-name,
.catalog-section:active .section-img {
	opacity: 0.3;
}

.catalog-section:hover .section-background,
.catalog-section:active .section-background {
	background-color: #f0c52e;
}


/*Группа III - Дополнительные услуги (Слайдер) ------------------------------------------*/
.services {
	position: relative;
}

.services::before {
	content: "";
	position: absolute;
	top: 20px;

	width: 100%;
	height: 100%;

	background-color: #e5e5e5;

	z-index: -1;
}

/*Подгруппа III.I - Кнопки управления слайдером -----------------*/
.service-radio {
	display: none;
}

.services-controls {
	position: relative;

	float: left;
	width: 160px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.services-controls::after {
	content: "";
	position: absolute;
	top: -80px;
	right: -124px;

	width: 7px;
	height: 319px;

	background-color: #000000;
}

.service-label {
	position: relative;
	margin-bottom: 24px;

	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 20px;

	color: #000000;

	cursor: pointer;

	-webkit-transition: background-color 0.2	s,
							color 0.3s;

	transition: background-color 0.2	s,
							color 0.3s;
}

.service-label:first-child {
	padding-left: 24px;
}

.service-label:nth-child(2) {
	padding-left: 29px;
}
.service-label:last-child {
	padding-left: 42px;
}

.service-label::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 0;

	width: 100%;
	height: 8px;

	background-color: #f0c52e;

	z-index: -1;
}

.service-label::after {
	content: "";
	position: absolute;
	top: 0;
	right: -120px;

	width: 100%;
	height: 100%;

	z-index: -1;
}

.service-label:hover {
	background-color: #f0c52e;
}

.service-label:active {
	color: #f7e184;

	background-color: #000000;
}

.service-label:active::after  {
	background-color: #000000;
}

#btn-4:checked ~ .services-controls label[for="btn-4"],
#btn-4:checked ~ .services-controls label[for="btn-4"]::after,
#btn-5:checked ~ .services-controls label[for="btn-5"],
#btn-5:checked ~ .services-controls label[for="btn-5"]::after,
#btn-6:checked ~ .services-controls label[for="btn-6"],
#btn-6:checked ~ .services-controls label[for="btn-6"]::after {
		color: #f7e184;

		background-color: #000000;
}

#btn-4:checked ~ .services-inner .service1 {
    display: block;
		z-index: 1;
}

#btn-5:checked ~ .services-inner .service2  {
    display: block;
		z-index: 1;
}

#btn-6:checked ~ .services-inner .service3 {
  	display: block;
		z-index: 1;
}


/*Подгруппа III.II - Наполнение слайдера ------------------------*/
.services-inner {
	margin-top: -11px;

	float: right;
  padding-bottom: 110px;
	width:820px;
}

.service-info {
	margin-left: 61px;

	float: left;
	width: 440px;
}

.service-paragraph {
	margin-top: 27px;
}

.service-img {
	margin-top: 16px;

	float: right;
}

.service1,
.service2,
.service3 {
  display: none;

	width: 754px;
}


/*Группа IV - Партнеры ------------------------------------------------------------------*/
.partners-list {
	margin-top: 114px;

	font-size: 0;
}

 .partner {
	margin-right: 40px;

	display: inline-block;
	width: 260px;
	height: 100px;

	vertical-align: top;

	-webkit-filter: grayscale(100%);

	        filter: grayscale(100%);
  opacity: 0.2;
}

.partner:nth-child(4n+1) {
 margin-right: 0;
}

.partner:hover {
	-webkit-filter: grayscale(0);
	        filter: grayscale(0);
  opacity: 1;
}


/*Группа V - О нас ----------------------------------------------------------------------*/
.about {
	margin-top: 141px;
}

/*Подгруппа V.I - Блок с информацией ----------------------------*/
.about-info {
	position: relative;
	margin-left: -1px;

	float: left;
	width: 475px;
}

.about-info::before {
	content: "";
	position: absolute;
	top: -48px;
	left: 1px;

	width: 80px;
	height: 7px;

	background-color: #000000;
}

.about-paragraph1 {
	margin-top: 39px;
}

.about-paragraph2 {
	margin-top: 30px;
	margin-bottom: 66px;
}

.transport-company {
	margin: 0;
	margin-left: 36px;

	list-style: none;

	padding: 0;
}

.transport-company li {
	position: relative;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 40px;
	color: #000000;
}

.transport-company li::before {
	content: "";
	position: absolute;
	top: 15px;
	left: -36px;

	width: 4px;
	height: 4px;

	border:  3px solid #b2b2b2;
	border-radius: 50%;
}

.about-more {
	position: relative;
	margin-top: 55px;

	display: block;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 23px;
	width: 247px;
	min-height: 22px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.about-more::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 1px;
  margin-top: -5px;

	width: 260px;
	height: 8px;

	background-color: #f0c52e;

	z-index: -1;
}

.about-more:hover {
	background-color: #f0c52e;
}

.about-more:active {
	color: #bd9b24;
}

/*Подгруппа V.II - Блок с картой --------------------------------*/
.about-contacts {
	position: relative;
	margin-left: 123px;

	float: left;
	width: 560px;
}

.about-contacts::before {
	content: "";
	position: absolute;
	top: -48px;
	left: 3px;

	width: 80px;
	height: 7px;

	background-color: #000000;
}

.about-paragraph3 {
	margin-top: 39px;
	margin-left: 1px;
}

.map {
	position: relative;
	margin-top: 39px;
	margin-left: 3px;

	display: block;

	cursor: pointer;
}

.map:hover .button-image  {
	opacity: 0.7;
}

.map:hover .button-action {
	opacity: 1;

	z-index: 3;
}

.button-write {
	position: relative;
	margin-top: 60px;
	margin-left: 4px;

	display: block;
	padding-top: 11px;
	padding-bottom: 11px;
	width: 260px;
	height: 18px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;

	cursor: pointer;
}

.button-write::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 0;

	width: 260px;
	height: 8px;

	background-color: #f0c52e;

	z-index: -1;
}

.button-write:hover {
	background-color: #f0c52e;
}

.button-write:active {
	color: #bd9b24;
}



/*---------------------------------------------------------------------------------------*/
/*ОСНОВОЕ СОДЕРЖАНИЕ СТРАНИЦЫ "КАТАЛОГ"*/
/*---------------------------------------------------------------------------------------*/
.header-action.header-action-user {
	position: relative;

	margin-right: 152px;
	color: #000000;
}

.header-action-user::after {
	content: "Войти";
	position: absolute;
	right: -65px;

	color: #cab97b;
}

.page-catalog {
	position: relative;
}

.catalog-header {
	margin-top: 33px;
}

/*Группа I - Хлебные крошки -------------------------------------------------------------*/
.breadcrumbs {
	margin-bottom: 40px;
}

.breadcrumbs-list {
	margin: 0;

	padding: 0;

	list-style: 0;
}

.breadcrumbs-item {
	position: relative;
	margin-top: 14px;
	margin-right: 33px;

	display: inline-block;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.001em;
  color: #d1d1d1;
	vertical-align: top;
}

.breadcrumbs-page {
  color: #d1d1d1;
}

.breadcrumbs-page:hover {
	color: #8b8b8b;
}

.breadcrumbs-page:active {
	color: #eeeeee;
}

.breadcrumbs-item:first-child::before,
.breadcrumbs-item:nth-child(2)::before {
	content: "";
	position: absolute;
	top: 16px;
	right: -20px;

	width: 5px;
	height: 2px;

	background-color: #000000;

	-webkit-transform: rotate(45deg);

	        transform: rotate(45deg);
}

.breadcrumbs-item:first-child::after,
.breadcrumbs-item:nth-child(2)::after {
	content: "";
	position: absolute;
	top: 19px	;
	right: -20px;

	width: 5px;
	height: 2px;

	background-color: #000000;

	-webkit-transform: rotate(-45deg);

	        transform: rotate(-45deg);
}


/*Группа II - Блок фильтра --------------------------------------------------------------*/
.wrapper {
  width: 100%;
  overflow: hidden;
}

.filter-sorting {
  position: relative;

  display: table;

	width: 1160px;
	margin: 0 auto;
}

.filter-sorting::before {
  content: "";
  position: absolute;
  top: 0;
  right: 1160px;

  width: 100vw;
  height: 100%;

  background-color: #efefef;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;

  vertical-align: top;
}

.table-cell:first-child {
  background-color: #efefef;
}

.filter {
	float: left;
	width: 330px;
}

.filter-float {
	float: right;
	width: 270px;

  background-color: #efefef;
}

.filter-name {
  position: relative;

  float:right;
	padding-top: 27px;
	padding-right: 180px;
	padding-bottom: 27px;
  width: 90px;
  height: 16px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 1em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;

	background-color: #dbdbdb;
}

.filter-name::before {
  content: "";
  position: absolute;
  top: 0;
  right: 270px;

  padding-top: 27px;
	padding-bottom: 27px;
  width: 100vw;
  height: inherit;

  background-color: #dbdbdb;
}

/*Подгруппа II.I - Выбор цены ------------------------------------*/
.filter-price {
	position: relative;

	padding-top: 83px;
	padding-bottom: 25px;
}

.filter-price::before {
	content: "";
	position: absolute;
	top: 69px;
	left: 1px;

	width: 201px;
	height: 2px;

	background-color: #000000;
}

.filter-range {
	padding-top: 36px;
	padding-bottom: 6px;
  width: 200px;
}

.range-controls {
  position: relative;
}

.range-scale {
  height: 2px;

  background: #dbdbdb;
}

.range-bar {
	margin-left: 0;

	width: 60%;
  height: 2px;

  background: #91c92f;
}

.range-toggle {
  position: absolute;
  top: -6px;
  left: 0;

  width: 10px;
  height: 10px;

  background: #eeeeee;

  border: 2px solid #000000;
  border-radius: 50%;
	cursor: pointer;
}

.range-toggle:active {
	background: #91c92f;

	border-color: #ffffff;
}

.toggle-min {
  left: -2px;
}

.toggle-max {
  left: 110px;
}

.min-price {
	margin-right: 60px;
	margin-left: -1px;

	font-size: 14px;
	line-height: 1em;
	color: #d3d3d3;
}

.max-price {
	font-size: 14px;
	line-height: 1em;
	color: #d3d3d3;
}

/*Подгруппа II.II - Выбор цвета ----------------------------------*/
.filter-color {
	position: relative;

	padding-top: 20px;
	padding-bottom: 25px;
  width: 120px;
}

.filter-color::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 1px;

	width: 201px;
	height: 2px;

	background-color: #000000;
}

.color-label {
	position: relative;

	display: block;
	padding-left: 38px;

	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.001em;

	cursor: pointer;
}

.color-label:nth-child(2) {
	margin-top: 19px;
}

.color-checkbox {
	display: none;
}

.color-checkbox + .checkbox-indicator {
	position: absolute;
	top: 8px;
	left: 0;

	width: 23px;
	height: 23px;

	background-color: #dbdbdb;
}

.color-checkbox + .checkbox-indicator::before {
	content: "";
	position: absolute;
	top: 11px;
	left: 7px;

	width: 4px;
	height: 2px;

	background-color: #000000;

	opacity: 0;

	-webkit-transform: rotate(45deg);

	        transform: rotate(45deg);
}

.color-checkbox + .checkbox-indicator::after {
	content: "";
	position: absolute;
	top: 11px;
	left: 9px;

	width: 8px;
	height: 2px;

	background-color: #000000;

	opacity: 0;

	-webkit-transform: rotate(-45deg);

	        transform: rotate(-45deg);
}

.color-checkbox:checked + .checkbox-indicator::before,
.color-checkbox:checked + .checkbox-indicator::after {
 	opacity: 1;
}

.color-label:hover .checkbox-indicator {
	background-color: #cecece;
}

.color-label:active .checkbox-indicator {
	background-color: #c4c4c4;
}

.color-checkbox:checked:active + .checkbox-indicator::before,
.color-checkbox:checked:active + .checkbox-indicator::after {
	opacity: 0;
}

.color-checkbox:active + .checkbox-indicator::before,
.color-checkbox:active + .checkbox-indicator::after {
 opacity: 1;
}

/*Подгруппа II.III - Наличие блютус ------------------------------*/
.filter-bluetooth {
	position: relative;

  width: 120px;

	padding-top: 20px;
	padding-bottom: 31px;
}

.filter-bluetooth::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 1px;

	width: 201px;
	height: 2px;

	background-color: #000000;
}

.bluetooth-label {
	position: relative;

	display: block;
	padding-left: 38px;

	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.001em;

	cursor: pointer;
}

.bluetooth-label:nth-child(2) {
	margin-top: 19px;
}

.bluetooth-radio {
	display: none;
}

.bluetooth-radio + .radio-indicator {
	position: absolute;
	top: 8px;
	left: 0;

	width: 19px;
	height: 19px;

	background-color: #eeeeee;

	border: 2px solid #c7c7c7;
	border-radius: 50%;
}

.bluetooth-radio + .radio-indicator::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;

	width: 5px;
	height: 5px;

	background-color: #eeeeee;

	border: 2px solid #000000;
	border-radius: 50%;

	opacity: 0;
}

.bluetooth-radio:active + .radio-indicator::before {
	opacity: 1;
}

.bluetooth-radio:checked + .radio-indicator::before {
	opacity: 1;
}

.bluetooth-radio:checked:active + .radio-indicator::before {
	opacity: 0;
}

.bluetooth-label:hover .radio-indicator {
	border-color: #bcbcbc;
}

.bluetooth-label:active .radio-indicator {
	border-color: #acacac;
}

/*Подгруппа II.IV - Кнопка фильтра -------------------------------*/
.filter-show {
	position: relative;

	width: 200px;
	height: 40px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;

	cursor: pointer;

	z-index: 0;
}

.filter-show::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 0;

	width: 200px;
	height: 8px;

	background-color: #f0c52e;

	z-index: -1;
}

.filter-show:hover {
	background-color: #f0c52e;
}

.filter-show:active {
	color: #bd9b24;

	background-color: #f0c52e;
}


/*Группа III - Блоксортировки -----------------------------------------------------------*/
.sorting {
	float: right;
	width: 830px;
}

.sorting-float {
	padding-left: 72px;

	float: left;
	width: 760px;
}

/*Подгруппа III.I - Типы сортировки -----------------------------*/
.sorting-type {
  position: relative;

	padding-top: 27px;
	padding-bottom: 7px;
	padding-left: 72px;
  width: 760px;

	background: #ebebeb;
}

.sorting-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 832px;

  height: 100%;
  width: 100vw;

  background-color: #ebebeb;
}

.sorting-header {
  margin-right: 55px;

  display: inline-block;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  vertical-align: top;
  color: #000000;
}

.sorting-list {
	margin: 0;

  display: inline-block;
	padding: 0;
  max-width: 450px;

  vertical-align: top;

	list-style: none;
}

.sorting-list-item {
	margin-right: 27px;

	display: inline-block;

	font-size: 14px;
	line-height: 14px;
	vertical-align: top;
}

.sorting-action  {
	color: #c0c0c0;
}

.sorting-list-item:first-child .sorting-action {
	color: #000000;
}

.sorting-list-item:hover .sorting-action {
	color: #8b8b8b;
}

.sorting-list-item:active .sorting-action {
	color: #000000;
}

.sorting-list-item:last-child {
	margin-right: 0;
}

.sorting-arrow-block {
  margin-right: 2px;

  display: inline-block;
  float: right;
  width: 60px;

  vertical-align: top;
}

.sorting-arrow {
  position: relative;

  font-size: 0;

  border: 9px solid #cccccc;
  border-right-color: transparent;
  border-left-color: transparent;
}


.sorting-arrow-up {
  bottom: 18px;
  margin-right: 20px;

  border-top-width: 0;
}

.sorting-arrow-up.active {
	border-bottom-color: #000000;
}

.sorting-arrow-down {
  top: -9px;
  right: -2px;

  border-bottom-width: 0;
}

.sorting-arrow-down.active {
	border-top-color: #000000;
}

.sorting-arrow-up:hover {
	border-bottom-color: #999999;
}

.sorting-arrow-down:hover {
	border-top-color: #999999;
}

.sorting-arrow-up:active{
	border-bottom-color: #000000;
}

.sorting-arrow-down:active {
	border-top-color: #000000;
}

/*Подгруппа III.II - Элементы сортировки ------------------------*/
.sorting-items {
	padding-top: 69px;
	padding-bottom: 39px;
}

.item {
	position: relative;
	margin-right: 40px;
	margin-bottom: 48px;

	float: left;
	width: 360px;
}

.item:nth-child(2n) {
	margin-right: 0;
}

.item:nth-child(4n),
.item:nth-child(4n-1) {
	margin-bottom: 0;
}

.new-item::before {
	content: "new";
	position: absolute;
	top: 57px;
	right: 38px;

	font-weight: 700;
	line-height: 0;
	letter-spacing: 0.001em;
	text-transform: uppercase;
	color: #bebebe;

	z-index: 1;
}

.new-item::after {
	content: "";
	position: absolute;
	top: 29px;
	right: 27px;

	width: 56px;
	height: 56px;

	background: transparent;

	border: 2px solid #d7d7d7;
	border-radius: 50%;
}

.item:hover img {
	opacity: 0.7;
}

.item:hover .button-action,
.item:hover .button-action2 {
	opacity: 1;
}

.item-image {
	position: relative;
	width: 360px;
	height: 380px;
}

.item-text {
	margin-top: 35px;
}

.item-name {
	float: left;
	width: 260px;
}

.item-price {
	margin: 0;

	float: right;
	width: 90px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0.001em;
	text-align: right;
}

/*Подгруппа III.III - Пагинатор ----------------------------------*/
.paginator {
	margin-bottom: 72px;

	width: 760px;

	background-color: #ebebeb;
}

.paginator-list {
	margin: 0;

	padding: 0;

  font-size: 0;
  text-align: center;

	list-style: none;
}

.paginator-item {
  margin-right: 17px;

  display: inline-block;
	padding-top: 27px;
	padding-bottom: 27px;
	min-width: 20px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  vertical-align: middle;
}

.paginator-link {
	vertical-align: middle;
}

.paginator-item:first-child {
	margin-right: 17px;

  float: left;
	width: 126px;
}


.paginator-item:last-child {
  margin-right: 0;

  float: right;
	width: 126px;
}

.paginator-item:nth-child(n+3):nth-child(-n+4) .paginator-link {
	 color: #b9b9b9;
}

.paginator-item:nth-child(n+2):nth-child(-n+4) .paginator-link:hover {
	 color: #8b8b8b;
}

.paginator-item:nth-child(n+2):nth-child(-n+4) .paginator-link:active {
	 color: #000000;
}

.paginator-item:first-child:hover,
.paginator-item:last-child:hover {
	background-color: #d9d9d9;
}

.paginator-item:first-child .paginator-link:active,
.paginator-item:last-child .paginator-link:active {
	color: #ababab;
}



/*---------------------------------------------------------------------------------------*/
/*ФУТЕР*/
/*---------------------------------------------------------------------------------------*/

/*Группа I - Общие параметры футера------------------------------------------------------*/
.page-footer {
	padding-top: 55px;
	min-height: 268px;

	background-color: #464646;
}

.contacts {
	color: #ebebeb;
}


/*Группа II - Параметры первого блока----------------------------------------------------*/
.footer-block-address {
	position: relative;

	float: left;
	width: 260px;
}

.footer-block-address::after {
	content: "";
	position: absolute;
	top: 182px;

	width: 80px;
	height: 7px;

	background-color: #f7e184;
}

.footer-logo {
	margin-bottom: 18px;
	margin-left: -3px;

	display: block;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 48px;
	font-weight: 800;
	line-height: 1.2em;
	letter-spacing: 0.001em;
	text-transform: uppercase;
	color: #f7e184;
}

.footer-logo:hover {
	color: #f0c52e;
}

.footer-logo:active {
	color: #85743f;
}


/*Группа III - Параметры второго блока---------------------------------------------------*/
.footer-block-navigation {
	float: left;
	width: 560px;
}

.footer-main-nav {
	margin-top: 83px;
	margin-left: 66px;
}

.footer-nav {
	margin: 0;
	margin-left: 40px;

	padding: 0;

  font-size: 0;
}

.footer-nav-item {
  margin-right: 44px;

	display: inline-block;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	list-style: none;
	vertical-align: top;
}

.footer-nav-item:nth-child(2n+1) {
	margin-right: 35px;
}

.footer-nav-item:nth-child(3n) {
	margin-right: 0;
}

.footer-nav-link {
	color: #ebebeb;
}

.footer-nav-link:hover {
	opacity: 0.6;
}

.footer-nav-link:active {
	opacity: 0.3;
}

.social {
	margin-top: 53px;
	margin-left: 246px;

	width: 153px;

	font-size: 0px;
}

.social-icon {
  margin-right: 14px;
  margin-bottom: 4px;

	display: inline-block;
	width: 40px;
	min-height: 38px;

	vertical-align: top;

	background: transparent url("../img/sprite.png") no-repeat;

	opacity: 0.3;
}

.social-icon:nth-child(3n+1) {
  margin-right: 0;
}

.icon-fb {
	background-position: -5px -5px;
}

.icon-inst {
	background-position: -54px -5px;
}

.icon-tw {
	background-position: -5px -53px;
}

.social-icon:hover {
	opacity: 0.6;
}

.social-icon:active {
	opacity: 0.1;
}


/*Группа IV - Параметры третьего блока---------------------------------------------------*/
.footer-block-actions {
	margin-top: 5px;

	float: right;
	width: 340px;

	text-align: right;
}

.footer-action {
	display: inline-block;

	line-height: 36px;
	letter-spacing: 0.001em;
	color: #d2d2d2;
	vertical-align: top;
}

.footer-action:first-child {
	position: relative;
	margin-right: 60px;
}

.footer-action:first-child::before {
	content: "";
	position: absolute;

	top: 12px;
	left: -26px;

	width: 13px;
	height: 12px;

	background-color: transparent;
	background-image: url("../img/footer-user.png");
	background-repeat: no-repeat;
}

.footer-action:nth-child(2) {
	position: relative;
	margin-right: 60px;
}

.footer-action:nth-child(2)::before {
	content: "";
	position: absolute;

	top: 14px;
	left: -20px;

	width: 13px;
	height: 12px;

	background-color: transparent;
	background-image: url("../img/footer-compare.png");
	background-repeat: no-repeat;
}

.footer-action:nth-child(3) {
	position: relative;
	margin-right: 0;
}

.footer-action:nth-child(3)::before {
	content: "";
	position: absolute;

	top: 12px;
	left: -22px;

	width: 13px;
	height: 12px;

	background-color: transparent;
	background-image: url("../img/footer-cart.png");
	background-repeat: no-repeat;
}

.footer-action:hover {
	color: #ebebeb;
}

.footer-action:active {
	color: #ebebeb;

	opacity: 0.3;
}

.footer-action:first-child:hover::before {
	background-image: url("../img/footer-user-hover.png");
}

.footer-action:nth-child(2):hover::before {
	background-image: url("../img/footer-compare-hover.png");
}

.footer-action:nth-child(3):hover::before {
	background-image: url("../img/footer-cart-hover.png");
}

.contact-number {
	margin-top: 34px;
}

.footer-academy {
	display: inline-block;
	margin-top: 48px;

	width: 27px;
	height: 34px;

	background: transparent url("../img/htmlacademy.png") no-repeat;
}

.footer-academy:hover {
	background-image: url("../img/htmlacademy-hover.png");
}

.footer-academy:active {
	opacity: 0.3;
}



/*---------------------------------------------------------------------------------------*/
/*POP-UP'ы*/
/*---------------------------------------------------------------------------------------*/

/*Группа I - Pop-up "Write us"-----------------------------------------------------------*/
.write-us {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -276px;
	margin-left: -480px;

	display: none;
	width: 960px;
	min-height: 553px;

	background-color: #ffffff;

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

	z-index: 10;
}

.write-form {
	padding-top: 43px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 800;
	color: #000000;
}

.form-block {
	display: block;
	padding-top: 53px;
	padding-right: 100px;
	padding-left: 100px;
	width: 760px;
	height: 377px;

	box-shadow: 0 70px #ffffff,
							0 -30px #ffffff,
							0 20px 40px rgba(0, 0, 0, 0.75);
}

.form-block input:invalid {
	background-color: #f6dada;
}

.form-name,
.form-mail {
	width: 320px;
}

.form-name,
.form-mail,
.form-letter {
	margin-top: 10px;

	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 17px;
	padding-left: 20px;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;

	background-color: #f2f2f2;

	border: none;
}

.form-error {
	background-color: #f6dada;
}

.form-name:hover,
.form-mail:hover,
.form-letter:hover {
	background-color: #eaeaea;
}

.form-name:focus,
.form-mail:focus,
.form-letter:focus {
	padding-top: 12px;
	padding-right: 17px;
	padding-bottom: 14px;
	padding-left: 17px;

	background-color: #ffffff;

	border: 3px solid #e5e5e5;

	outline: none;
}

.form-block-name{
	float: left;
	width: 360px;
}

.form-block-mail	{
	float: right;
	width: 360px;
}

.form-block-textarea	{
	margin-top: 36px;

	float: left;
	width: 760px;
}

.form-letter	{
	width: 720px;
	height: 125px;
}

.form-submit	{
	position: relative;
	margin-top: 37px;

	width: 200px;
	height: 40px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	background: none;

	border: none;
 	cursor: pointer;
}

.form-submit::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 0px;

	width: 200px;
	height: 8px;

	background-color: #f0c52e;

	z-index: -1;
}

.form-submit:hover {
	background-color: #f0c52e;
}

.form-submit:active {
	color: #bd9b24;

	background-color: #f0c52e;

	outline: none;
}

.write-us-open {
	display: block;
	-webkit-animation: bounce 0.6s;
	        animation: bounce 0.6s;
}

.write-us-error {
	-webkit-animation: shake 0.6s;
	        animation: shake 0.6s;
}

/*II группа - Pop-up "Map-big"-----------------------------------------------------------*/
.map-large {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -278px;
	margin-left: -480px;

	display: none;
	width: 960px;
	height: 559px;

	background: url("../img/map-big.jpg") no-repeat;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

	z-index: 10;
}

.map-large-open {
	display: block;
}


/*III группа - Затемнение вокруг pop-up'ов-----------------------------------------------*/
.pop-up-overlay {
  position: fixed;
  top: 0;
  left: 0;

	display: none;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

	z-index: 5;
}

.pop-up-overlay-open {
	display: block;
}


/*IV группа - Кнопка закрытия pop-up'ов--------------------------------------------------*/
.button-close-write {
	content: "";
	position: absolute;
	top: 22px;
	right: 22px;

	width: 54px;
	height: 54px;

	background-color: #f7e296;

	border-radius: 50%;
}

.button-close-write::before,
.button-close-write::after {
	content: "";
	position: absolute;
	top: 26px;
	right: 13px;

	width: 29px;
	height: 2px;

	background-color: #ffffff;
}

.button-close-write::before {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.button-close-write::after {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.button-close-write:hover {
	background-color: #f0c52e;
}

.button-close-write:active {
	background-color: #f0c52e;
}

.button-close-write:active::before,
.button-close-write:active::after {
	background-color: #f5d76d;
}

.button-close-map {
	content: "";
	position: absolute;
	top: 22px;
	right: 22px;

	width: 54px;
	height: 54px;

	background-color: #f7e296;

	border-radius: 50%;
}

.button-close-map::before,
.button-close-map::after {
	content: "";
	position: absolute;
	top: 26px;
	right: 13px;

	width: 29px;
	height: 2px;

	background-color: #ffffff;
}

.button-close-map::before {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.button-close-map::after {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.button-close-map:hover {
	background-color: #f0c52e;
}

.button-close-map:active {
	background-color: #f0c52e;
}

.button-close-map:active::before,
.button-close-map:active::after {
	background-color: #f5d76d;
}


/*IV группа - Анимация pop-up'ов---------------------------------------------------------*/
@-webkit-keyframes bounce {
0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
70% { -webkit-transform: translateY(60px); transform: translateY(60px); }
90% { -webkit-transform: translateY(-20px); transform: translateY(-20px); }
100% { -webkit-transform: translateY(0); transform: translateY(0); }
}
@keyframes bounce {
0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
70% { -webkit-transform: translateY(60px); transform: translateY(60px); }
90% { -webkit-transform: translateY(-20px); transform: translateY(-20px); }
100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

@-webkit-keyframes shake {
0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

@keyframes shake {
0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}
